.wrapper{
  /* start with mobile-first 320 X 1024 */
  margin: 0;
  padding: 0;
}

.header{
  width: 320px;
  height: 102px;
  margin-top: 80px;
  text-align: center;
  font-family: 'ChalkBoard SE';
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 3px;
  line-height: 3px;
  color: #232020;
}

.calc{
  height: 653px;
  width: 248px;
  background: #322F2F;
  margin: 175px 36px 40px 36px;
}

#display{
  background: #d8d8d8;
  height: 57px;
  width: 213px;
  color: #232020;
  margin: 50px 20px 40px 20px;
  border-top: 50px solid #232020;
  font-size: 40px;
  text-align: right;
  padding-right: 10px;
}

.btn-area{
  /* use grid to make columns and rows even for buttons */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  height: 499px;
  width: 213px;
  background: #d8d8d8;
  margin: 0 19px;
}

.btn{
  background: #232020;
  color: #fff;
  width: 43px;
  height: 46px;
  text-align: center;
  margin: 10px 10px;
  font-size: 33px; 
  outline: none;
}

#clear{
  background: #f72222;
  border: none;
}

.footer{
  font-size: 8px;
  text-align: center;
}

/* tablet screen */
@media only screen and (min-width: 768px){
    .header{
      width: 768px;
      text-align: center;
    }
    .calc{
      height: 703px;
      width: 632px;
    }
    #display{
      height: 57px;
      width: 581px;
      font-size: 50px;
      padding-right: 20px;
    }
    .btn-area{
      /* adjust grid to display four columns */
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      height: 539px;
      width: 582px;
    }
    .btn{
      width: 85px;
      width: 57px;
      margin: 20px 20px;
    }
}

/* desktop screen */
@media only screen and (min-width: 1024px){
    .header{
      width: 1024;
      text-align: center;
    }
    .calc{
      /* use margin to center calc */
      margin: 175px 36px 50px 200px;
    }

}

/* HD display */
@media only screen and (min-width: 1440px){
  .header{
    width: 1440px;
    text-align: center;
  }
  .calc{
    margin: 175px 50px 50px 400px;
  }

}
